@use 'variables';

.button {
 border: 1px solid transparent;
 background-color: variables.$color-primary;
 padding: variables.$spacing-sm variables.$spacing-md;
 border-radius: variables.$radius-md;
 cursor: pointer;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: variables.$spacing-xxs;
 font-size: variables.$font-size-md;
 color: white;
 transition: background-color variables.$transition-fast;

 &:hover {
  background-color: variables.$color-primary-hover;
 }
 
 
 &--secondary{
  color: variables.$color-text-primary;
  border: 1px solid variables.$color-border;
  background-color: variables.$color-surface;

  &:hover {
   background-color: variables.$color-surface-hover;
  }
  
 }

 &--icon-only {
  padding: variables.$spacing-sm;
 }

}