.carcard {
 display: flex;
 align-items: center;
 width: 100%;
 padding: 44px;
 border-radius: 16px;
 border: 1px solid #DCDCDC;
 gap: 24px;
 background-color: white;
 cursor: pointer;
 transition: background-color .15s ease-in-out;
 overflow: hidden;

 @media (max-width: 720px) {
  flex-direction: column;
  padding: 1.5rem;
 }
 
 &__img-wrapper {
  height: 116px;
  width: 200px;
  border-radius: 4px;
  overflow: hidden;

  @media (max-width: 720px) {
   width: 100%;
   height: 200px;
  }
 }

 &__img {
  transition: transform .3s ease-in-out;
  border-radius: .25rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
 }

 &__price {
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
 }

 &__content {
  display: flex;
  flex: 1;
  gap: 12px;

  @media (max-width: 720px) {
   flex-direction: column;
   width: 100%;
   gap: 2rem;
  }
 }

 &__content-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
 }


 &__content-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

 }


 &:hover {
  background-color: #f7f7f7;
  .carcard__img {
   transform: scale(1.2);
  }
 }

}