@use "./variables";

* {
 margin: unset;
 padding: unset;
 box-sizing: border-box;
 font-family: var(--font-inter);
}

a {
 text-decoration: unset;
 color: unset;
}

main {
 display: flex;
 flex-direction: column;
 gap: variables.$spacing-xl;
}

h1, h2, h3, h4, h5, h6 {
 color:variables.$color-text-primary;
 font-weight: variables.$font-weight-regular;
 line-height: variables.$line-height-heading;
}

h1 {
 text-align: center;
 font-size: variables.$font-size-xxl;

 @media (max-width: 600px) {
  font-size: variables.$font-size-xl;
 }
}

h2 {
 font-size: variables.$font-size-xl;
}

h3 {
 font-size: variables.$font-size-lg;
}

h4{
 font-size: variables.$font-size-md;
}

body {
 max-width: 1120px;
 width: 100%;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 padding: 0 variables.$spacing-lg 10rem;
}

ul {
 list-style-type: none;
 width: 100%;
 display: flex;
 flex-direction: column;
 gap: variables.$spacing-xxl;
}

.page {
 display: flex;
 gap: variables.$spacing-xxl;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 max-width: 100%;
 
 @media (max-width: 720px) {
  gap: variables.$spacing-lg;
 }

 &__header-title-zone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: variables.$spacing-xxl;
 }

 &__header-back-btn {
  position: absolute;
 }

 &__header-title-actions {
  display: block;
  min-width: variables.$spacing-xl;
  position: absolute;
 }

 &__header-title {
  flex: 1;
  padding: 0 variables.$spacing-xxl;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  width: 100%;
 }

 &__header {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-xl;
  flex: 1;
  max-width: 100%;
  width: 100%;

  @media (max-width: 720px) {
   gap: variables.$spacing-md;
  }
 }

 &__header-img-wrapper {
  border-radius: variables.$radius-lg;
  overflow: hidden;
  position: relative;
  height: 600px;
  width: 100%;
  @media (max-width: 720px) {
   aspect-ratio: 1;
   height: auto;
  }
 }
 
 &__header-text {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-md;
 }

 &__header-annotation {
  font-size: variables.$font-size-sm;
  line-height: 100%;
  color: variables.$color-text-secondary;
 }

 &__subheader {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: variables.$spacing-md;
 }

 &__main {
  display: flex;
  gap: calc(variables.$spacing-xxl * 2);
  width: 100%;
 }

 &__content {
  display: flex;
  flex-direction: column;
  flex: 3;
  gap: variables.$spacing-xxl;
 }

 &__section {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-md;
  width: 100%;
 }

 &__section-title {
  margin-bottom: variables.$spacing-xs;
 }

 &__aside{
  display: flex;
  flex-direction: column;
  flex: 2;

  @media (max-width: 720px) {
   position: fixed;
   bottom: 0;
   right: 0;
   left: 0;
   background: white;
  }
 }
}

.cta-card {
 padding: variables.$spacing-xl;
 border: 1px solid variables.$color-border;
 border-radius: variables.$radius-lg;
 display: flex;
 flex-direction: column;
 gap: 1rem;

 @media (max-width: 720px) {
  padding: variables.$spacing-lg;
  border-radius: unset;
  border: unset;
  border-top: 1px solid variables.$color-border;
  box-shadow: -2px 0 10px rgba(0,0,0,0.1);
 }

 &__title {
  @media (max-width: 720px) {
   display: none;
  }
 }
}