* {
 margin: unset;
 padding: unset;
 box-sizing: border-box;
 font-family: var(--font-inter);
}

a {
 text-decoration: unset;
 color: unset;
}

main {
 display: flex;
 flex-direction: column;
 gap: 32px;
}

h1, h2, h3, h4, h5, h6 {
 color:#000;
 font-weight: 400;
 line-height: 100%;
}

h1 {
 text-align: center;
 font-size: 32px;

 @media (max-width: 600px) {
  font-size: 24px;
 }
}

h2 {
 font-size: 24px;
}

h3 {
 font-size: 20px;
}

h4{
 font-size: 18px;
}

body {
 max-width: 1120px;
 width: 100%;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 padding: 0 24px 10rem;
}

ul {
 list-style-type: none;
 width: 100%;
 display: flex;
 flex-direction: column;
 gap: 32px;
}

.pagination {
 display: flex;
 gap: 1rem;

 &__link {
  text-decoration: unset;
  color: #000;

  &--active {
   color: #acacac;
  }
 }
}

.page {
 display: flex;
 gap: 3rem;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 max-width: 100%;
 
 @media (max-width: 720px) {
  gap: 1.5rem;
 }

 &__header-title-zone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 3rem;
 }

 &__header-back-btn {
  position: absolute;
 }

 &__header-title-actions {
  display: block;
  min-width: 2rem;
  position: absolute;
 }

 &__header-title {
  flex: 1;
  padding: 0 4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  width: 100%;
 }

 &__header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
  max-width: 100%;

  @media (max-width: 720px) {
   gap: .5rem;
  }
 }

 &__header-img {
  border-radius: 16px;
  max-width: 100%;
  object-fit: cover;

  @media (max-width: 720px) {
   aspect-ratio: 1;
   height:auto;
  }
 }

 &__header-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
 }

 &__header-annotation {
  font-size: 14px;
  line-height: 100%;
  color: #8E8E8E;
 }

 &__subheader {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
 }

 &__main {
  display: flex;
  gap: 6rem;
  width: 100%;
 }

 &__content {
  display: flex;
  flex-direction: column;
  flex: 3;
  gap: 3rem;
 }

 &__section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
 }

 &__section-title {
  margin-bottom: .5rem;
 }

 &__aside{
  display: flex;
  flex-direction: column;
  flex: 2;

  @media (max-width: 720px) {
   position: fixed;
   bottom: 0;
   right: 0;
   left: 0;
   background: white;
  }
 }
}

.cta-card {
 padding: 2rem;
 border: 1px solid #DCDCDC;
 border-radius: 1rem;
 display: flex;
 flex-direction: column;
 gap: 1rem;

 @media (max-width: 720px) {
  padding: 1.5rem;
  border-radius: unset;
  border: unset;
  border-top: 1px solid #DCDCDC;
  box-shadow: -2px 0 10px rgba(0,0,0,0.1);
 }

 &__title {
  @media (max-width: 720px) {
   display: none;
  }
 }
}