@use 'variables';

.header {
 display: flex;
 position: sticky;
 top: 0;
 padding: variables.$spacing-md 0;
 background: variables.$color-background;
 z-index: 2;

 &__logo{
  font-size: 22px;
  font-weight: variables.$font-weight-bold;
  color: variables.$color-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -3%;
 }

 &__nav{
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: variables.$spacing-xxs;
 }

 &__nav-link {
  padding: variables.$spacing-sm;
  color:variables.$color-text-primary;
  border-radius: variables.$radius-md;
  font-weight: variables.$font-weight-medium;
  background-color: variables.$color-background;

  &:hover {
   background-color: variables.$color-surface-hover;
  }
  
  &--active {
   color: variables.$color-primary;
  }

  &--disabled {
   opacity: 0.4;
   cursor: not-allowed;
   user-select: none;
   pointer-events: hover;
  }
 }
}