@use 'variables';

.key-value-display {
 font-size: variables.$font-size-md;
 line-height: 100%;
 display: flex;
 justify-content: space-between;
 padding-bottom: variables.$spacing-md;
 border-bottom: 1px solid variables.$color-border;
 gap: variables.$spacing-md;
 flex: 1;
 
 span {
  font-weight: variables.$font-weight-regular;
  color: variables.$color-text-secondary;
 }

 strong {
  font-weight: variables.$font-weight-regular;
  color: variables.$color-text-primary;
  text-align: right;
 }
}