.key-value-display {
 font-size: 16px;
 line-height: 100%;
 display: flex;
 justify-content: space-between;
 padding-bottom: 16px;
 border-bottom: 1px solid #dcdcdc;
 gap: 16px;
 flex: 1;
 
 span {
  font-weight: 400;
  color: #8e8e8e;
 }

 strong {
  font-weight: 400;
  color: #000;
  text-align: right;
 }
}