@use 'variables';

.rating {
 display: flex;
 align-items: center;
 gap: variables.$spacing-xs;

 &__stars {
  display: flex;
  align-items: center;
 }

 &__star {
  fill: variables.$color-star;
  stroke: variables.$color-star;
  stroke-width: 1.5px;

  &--off {
   fill: white;
  }
 }

 &__text {
  font-size: variables.$font-size-xs;
  line-height: 100%;
  font-weight: variables.$font-weight-semibold;
  color: variables.$color-text-secondary;
 }
}