@use 'variables';

.review {
 display: flex;
 gap: variables.$spacing-sm;
 margin-bottom: variables.$spacing-md;

 &__img-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: variables.$radius-pill;
  height: variables.$spacing-xl;
  min-width: variables.$spacing-xl;
 }
 
 &__img {
  border-radius: variables.$radius-pill;
  display: flex;
  object-fit: cover;
 }

 &__content-header{
  display: flex;
  gap: variables.$spacing-xs;
  font-size: variables.$font-size-md;
  line-height: variables.$spacing-xl;
 }

 &__date {
  color: variables.$color-text-secondary;
  font-size: variables.$font-size-sm;
  line-height: variables.$line-height-base;
 }

 &__content-comment {
  font-size: variables.$font-size-sm;
  line-height: variables.$line-height-base;
 }
}