// ----------------------------------------------
// 🎨 Colors
// ----------------------------------------------

$color-primary: #ff4300;
$color-primary-hover: #c54314;
$color-star: #E3D027;

$color-background: #ffffff;
$color-surface: #ffffff;
$color-surface-hover: #f7f7f7;
$color-surface-secondary: #EFEFEF;
$color-border: #dcdcdc;



$color-text-primary: #111111;
$color-text-secondary: #8E8E8E;

// ----------------------------------------------
// 🧱 Spacing
// ----------------------------------------------

$spacing-xxs: .25rem;
$spacing-xs: .5rem;
$spacing-sm: .75rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;
$spacing-xxl: 3rem;

// ----------------------------------------------
// 🅰️ Typography
// ----------------------------------------------

$font-size-xs: .75rem;
$font-size-sm: .875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$line-height-base: 1.5;
$line-height-heading: 1.2;


// ----------------------------------------------
// 📏 Border Radius
// ----------------------------------------------

$radius-xs: .125rem;
$radius-sm: .25rem;
$radius-md: .5rem;
$radius-lg: 1rem;
$radius-pill: 9999px;

// ----------------------------------------------
// 🔄 Transitions
// ----------------------------------------------

$transition-fast: 0.2s ease-in-out;
$transition-normal: 0.3s ease-in-out;
$transition-slow: 0.5s ease-in-out;
